<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= image_tag(@user.avatar.url) %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.twixts.any? %>
      <h3>Twixts (<%= @user.twixts.count %>)</h3>
      <ol class="twixts">
        <%= render @twixts %>
      </ol>
      <%= will_paginate @twixts %>
    <% end %>
  </div>
</div>