<h1><%=@user.name  %>'s Profile Page</h1>
<p><%= image_tag(@user.avatar.url) %></p>
<%= link_to 'Follow this user', root_path, class: "btn btn-small btn-primary", notice: "You are now
following this user" %>
<h3> Twixts: (<%=@twixts.count%>)</h3>
<% @twixts.each do |twixt|  %>
		<div class="link row clearfix">
			<h2>
				<%=  twixt.content %><br>
				<small class="author">Submitted <%= time_ago_in_words(twixt.created_at) %> ago</small>
			</h2>
		</div>
<%end %>
