
<div class="user-profile-header">
  <h1><%=@user.name  %>'s Profile Page</h1>
  <p><%= image_tag(@user.avatar.url) %></p>
</div>

<div class="user-follow">
  <% if @user.followed_by?(current_user)  %>
  <%= link_to 'Unfollow this user', unfollow_user_path(@user.id), class: "btn btn-small btn-danger", notice: "You are
  no longer following this user"%>
  <%else  %>
  <%= link_to 'Follow this user', follow_user_path(@user.id), class: "btn btn-small btn-primary", notice: "You are now
  following this user" %>
  <%end  %>
</div>
  <div><h3 class="follow-header"> Following: <%= @user.follow_count %></h3>
       <h3 class="follow-header"> Followers: <%= @user.followers_count %></h3>
       <h3 class="follow-header"> Twixts: (<%=@twixts.count%>)</h3>
  <div> 
  <div class="view">
    <% @twixts.each do |twixt|  %>
     <h2>
      <%= twixt.content %><br>
      <small class="author">Submitted <%= time_ago_in_words(twixt.created_at) %> ago</small>
    </h2>
  </div>
  <%end %>
  