<div class="follows-top">
  <h3>You are following:</h3>
    <% current_user.all_following.each do |follow|%>
  <h4><%= link_to follow.name, follow %> </h4>
<% end %>
</div>
  <h3>Twixts in your timeline:</h3>
    <% @twixts.each do |twixt| %>

<div class="link-row-clearfix">
  <h2>
    <%=twixt.content %><br>
    <small class="author"> Submitted <%=time_ago_in_words(twixt.created_at)%> 
      ago by <%=twixt.user.name %></small>
  </h2>
</div>
<% end %>


<div class="link row clearfix">
 <%= link_to 'Back', twixts_path, class: "btn btn-small btn-primary" %>
  <%= paginate @twixts %>
</div> 